header {
  img.profile-picture {
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.highlighted {
  background-color: #F5D76E !important;
  transition: background-color 0.5s ease-in;
}